body {
    display: flex;
}
.logoSection {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.contentSection {
    display: flex;
    flex-direction: column;
}

.formContent {
    display: flex;
    background-color: lightgray;
    box-shadow: 2px;
}