@font-face {
    font-family: "logoFont";
    src: url(fonts/distracted_musician/Schrift.woff);
  }

:root, body {
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
}
.logoSection {
    background-color: black;
    display: flex;
    flex-direction: column;
    background-image: url(images/vinyl.jpg);
    background-size: calc(400px + 25vw);
    background-repeat: no-repeat;
    background-position: left;
    min-width: 30%;
    height: 100%;
    justify-content: space-around;
}

.contentSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formContent {
    display: flex;
    background-color: lightgray;
    box-shadow: 2px;
}

.logo {
    height: 10rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    font-family: logoFont;
    display: flex;
    justify-content: center;
    margin-top:20vh;
}

.logo h1 {
    font-family: "logoFont";
    text-align: center;
    line-height: 4rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.credit {
    text-align: center;
    font-family: sans-serif;
    margin-top: auto;
}

.desc {
    background-color: rgb(228, 228, 228);
    width: 100%;
    font-family: sans-serif;
    line-height: 3rem;
}

.desc h2 {
    margin-left: 4rem;
    margin-top: 15vh;
}

@media (max-width: 80em) {
    .logo h1 {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .logo {
        height: 100%;
        margin-top: 0;
    }

    .logoSection {
        background-color: rgba(0, 0, 0, 0.55);
    }

    .credit {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.55);
    }
  }

