@font-face {
    font-family: "logoFont";
    src: url(fonts/distracted_musician/Schrift.woff);
  }

:root, body {
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
}
.logoSection {
    background-color: black;
    display: flex;
    flex-direction: column;
    background-image: url(images/vinyl.jpg);
    background-size: calc(400px + 25vw);
    background-repeat: no-repeat;
    background-position: left;
    min-width: 30%;
    height: 100%;
    justify-content: space-around;
}

.contentSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formContent {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5em 5em -5em;
    z-index: 1;
}

.formContent .heading {
    font-family: sans-serif;
}

.form form{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
    width: 70%;
    gap: 4rem;
    margin-top: 3vh;
    padding-bottom: 3vh;
}

.form form label {
    max-width: 147px;
}

.form form input {
    display: block;
    appearance: none;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.form form input:invalid {
    border-color: red;
}

.form form .error {
    visibility: hidden;
    color: red;
    font-family: sans-serif;
    font-size: 0.7em;
    text-wrap: wrap;
}

.form form input:invalid:not(:focus) + .error {
    visibility: visible;
}

.form form label {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    height: 10rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    font-family: logoFont;
    display: flex;
    justify-content: center;
    margin-top:20vh;
}

.logo h1 {
    font-family: "logoFont";
    text-align: center;
    line-height: 4rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.credit {
    text-align: center;
    font-family: sans-serif;
    margin-top: auto;
}

.desc {
    background-color: rgb(228, 228, 228);
    width: 100%;
    font-family: sans-serif;
    line-height: 3rem;
}

.desc h2 {
    margin-top: 15vh;
}

h2 {
    margin-left: 4rem;
}

.buttonArea {
    background-color: rgb(228, 228, 228);
    height: 100%;
}

.buttonArea input {
    margin-left: 4rem;
    margin-top: 5vh;
    padding: 0.2em 2em;
    background-color: rgb(182, 26, 164);
    color: white;
    border: solid black;
    border-radius: 1em;
    font-size: 2em;
    box-shadow: 0 0 0.1em black;
    cursor: pointer;
}

.buttonArea p {
    font-family: sans-serif;
    margin-left: 4rem;
}

.buttonArea p a {
    color: rgb(182, 26, 164);
}

@media (max-width: 80em) {
    .logo h1 {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .logo {
        height: 100%;
        margin-top: 0;
    }

    .logoSection {
        background-color: rgba(0, 0, 0, 0.55);
    }

    .credit {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.55);
    }
  }

